@use 'variaveis';  
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}


* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$cor_fundo;
}

@mixin tittle($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$cor_text_secundaria;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$cor_text_principal
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$cor_text_secundaria;
    text-decoration: underline;

}

.tittle--big {
    @include tittle(44px);
}

.tittle {
    @include tittle;
}

.tittle--small {
    @include tittle(28px);
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$cor_text_secundaria;
    background-color: variaveis.$cor_button_primario;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$cor_button_primario;

    &:hover {
        background-color: lighten(variaveis.$cor_button_primario, 3%);
    }

    &--secondary {
        background-color: variaveis.$cor_button_secundario;
        border-color: variaveis.$cor_button_secundario;

        &:hover {
            background-color: lighten(variaveis.$cor_button_secundario, 3%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$cor_button_dark, 0.8);
        border-color: variaveis.$cor_text_secundaria;

        &:hover {
            background-color: variaveis.$cor_text_secundaria;
            color: variaveis.$cor_fundo;
        }
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%;
    }

    
    &__text__container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }

        p {
            font-size: 20px;
            color: #c0c0c0;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            max-width: 100%;

        }

        &__text__container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin-top: 24px;
                font-size: 20px;
                color: #c0c0c0;
            }
        }
    }
}